<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Crear carpeta de la Unidad</title>
</head>
<body>
	<div class="container mt-5">
		<div class="row">
			<div class="col">
				<form action="" method="POST">
					<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

					<div class="form-group">
						<label for="unidad">Unida de Adscripción</label>
						<input type="text" name="unidad" class="form-control" id="">
					</div>

					<input type="submit" value="Crear" class="btn btn-primary">
				</form>
			</div>
		</div>
	</div>
</body>
</html>